extends layout
block content
	.container-fluid
		.row-fluid(data-bind="template: {name: template, foreach: emails}")


	script(type="text/html", id="email-abstract")
		blockquote
			button.close(data-bind="click: remove") &times;
			p(data-bind="text: subject")
			small
				//ko foreach: from
				strong(data-bind="text: address")
				///ko
				| &nbsp;to&nbsp;
				//ko foreach:to 
				strong(data-bind="text: address")
				///ko
				| &nbsp;received on&nbsp;
				em(data-bind="text: date")
			a.btn.btn-link(data-bind="click: showDetails") more…
	script(type="text/html", id="email-deleted")
	script(type="text/html", id="email-details")
		blockquote
			p(data-bind="text: subject")
			small
				//ko foreach: from
				strong(data-bind="text: address")
				///ko
				| &nbsp;to&nbsp;
				//ko foreach:to 
				strong(data-bind="text: address")
				///ko
				| &nbsp;received on&nbsp;
				em(data-bind="text: date")
			a.btn.btn-link(data-bind="click: showAbstract") less
			.row-fluid
				h4 Text message
				pre(data-bind="text: text")
				h4 HTML
				div.content-html(data-bind="html: html")
			.row-fluid
				table.table.table-striped
					caption Headers
					tr
						th Name
						th Value
					//ko foreach: headers
					tr
						td(data-bind="text: name")
						td(data-bind="text: value")
					///ko
			a.btn.btn-link(data-bind="click: showAbstract") less
