doctype 5
html
	head
		title nosey
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	body
		.alert.alert-success
			p Nosey smtp server is listening on port 
				strong= smtpPort
		block content
		script(type='text/javascript', src='/javascripts/jquery-1.8.0.min.js')
		script(type='text/javascript', src='/javascripts/knockout-2.1.0.debug.js')
		script(type='text/javascript', src='/javascripts/knockout.mapping-latest.debug.js')
		script(type='text/javascript', src='/javascripts/bootstrap.js')
		script(type='text/javascript', src='/javascripts/inflection.js')
		script(type='text/javascript', src='/javascripts/nosey.js')
		script(type='text/javascript')
			$(function(){
				$.getJSON(window.location.href, function(data){
					window.model =new nosey.EmailCollection({emails:data.reverse()});
					ko.applyBindings(window.model);
				});
			});
